# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages data scientists use.
- Some of the commonly used libraries by Data Scientists
- List some data science tools.
- Evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:

1.   R
2.   Python
3.   SQL

Some of the commonly used libraries used by Data Scientists include:

1.   Pandas
2.   Scikit-learn
3.   TensorFlow
4.   Seaborn
5.   MatPlotlib

| Data Science Tools |
|---------------------|
| Jupyter Notebook    |
| RStudio             |
| Apache Zeppelin     |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [4]:
minutes = 200
hours = minutes / 60
# This will convert 200 minutes to hours by dividing by 60
hours

3.3333333333333335

## Author

Dameruppula Nichitha